# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.pytest_cache/

# Terraform runtime files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# Application runtime state
app/gitops-repo/
app/terraform-runs/
*.log

# OS / IDE files
.DS_Store
.vscode/
.idea/
